nav{
	background-color: #DCDCDC;
	height: 30px;
	font-size: 16pt;
	div{
		margin: 0px auto;
		width: 50%;
		text-align: center;
	}
}
td{
	font-size: 14pt;
}
body{
	font-size: 14pt;
}
table, th, td{
	border: 1px solid blue;
}
th{
	background-color: #DCDCDC;
}
th,td{
	padding: 5px;
}